<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img src="assets/image/nsw_transport_logo.jpg">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <span class="mr-1">
          <small><strong><a>Login</a></strong></small>
        </span>
        <span class="mr-3">
          <i class="fas fa-sign-in-alt"></i>
        </span>
      </li>
      <li class="nav-item">
        <span class="mr-1">
          <small><strong><a>Sign Up</a></strong></small>
        </span>
        <span class="mr-3">
          <i class="fas fa-user-plus"></i>
        </span>
      </li>
    </ul>

  </div>
</nav>