@import 'main';

.d-flex, .nav {
    background: $primary;
    color: $white;
    font-weight: bold;
}

.app-ml-5p {
    margin-left: 5px;
}

a {
    color: white;
    font-weight: 300;
}

a:hover {
    color: white;
    font-weight: bold;
}